/* Create font used for headers ---------------------------------------------------------------------------------*/
@font-face {
    font-family: OpenSansBold;
    src: url(../lib/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../lib/fonts/OpenSans-Regular.ttf);
}

/*Simple Reset --------------------------------------------------------------------------------------------------*/
* {
	margin: 0px;
	padding: 0px;
	font-family: OpenSans;
}

/* Misc CSS -----------------------------------------------------------------------------------------------------*/
#mainContent {
	cursor: default;
}

#copyright {
	text-align: center;
	padding: 25px;
}

#copyright p {
	display: inline-block;
	font-family: OpenSansBold;
	font-size: 20px;
}

.sectionTitle {
	font-family: OpenSansBold;
	text-align: center;
	font-size: 28px;
	padding: 25px 25px;
	padding-top: 50px;
	font-weight: bold;
}

.section {
	padding: 25px 0;
}

.subTitle {
	font-family: OpenSansBold;
	font-size: 24px;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
}

.boldIt {
	font-weight: bold;
}

.btn-scheme {
  color: white;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.badge.low, .badge.med, .badge.high {
  padding: 1px 5px;
}

.badge.low {
  background-color: #66FFFF;
}

.badge.med {
  background-color: #0099FF;	
}

.badge.high {
  background-color: #000099;	
}

.isLoading {
	visibility: hidden;
}

.isLoaded {
	visibility: visible;
}

.spinner {
	width: 48px;
	height: 48px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.konamiOff {
	display: inline;
}

.konamiOn {
	display: none;
}

#konamiBox {
	display: none;
	width: 75%;
	position: fixed;
	top: 40%;
	left: 50%;
	margin: 0 0 0 -37.5%;
	font-size: 40px;
	font-family: OpenSansBold;
	padding: 25px;
	background-color: black;
	color: white;
	text-align: center;
	z-index: 20;
}

/*Alert Bar -----------------------------------------------------------------------------------------------------*/
#alert {
	position: absolute;
	border-radius: 5px;
	width: 99%;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 55px;
	text-align: center;
	padding: 5px 0px;
	padding-left: 5px;
}

#alert .close {
	margin-right: 5px;
}

/* Menubar -------------------------------------------------------------------------------------------------------*/
.navbar {
	font-family: OpenSansBold;
	font-size: 14px;
    box-shadow: 0 4px 10px -2px #232323;
    -moz-box-shadow: 0 4px 10px -2px #232323;
    -webkit-box-shadow: 0 4px 10px -2px #232323;
}

.nav li a {
	cursor: pointer;
}

.navbar-inverse .navbar-brand:hover {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a,
 .navbar-inverse .navbar-nav > li > a:focus,
  .navbar-inverse .navbar-brand:focus,
   .navbar-inverse .navbar-text,
    .navbar-inverse .navbar-brand{
  color: #5A83A0;
  font-weight: bold;
}

/*Profile Area -----------------------------------------------------------------------------------------------------*/
#profPicArea {
	width: 270px;
	height: 270px;
	margin: 0px auto;
} 

#profPicInnerArea {
	width: 250px;
	height: 250px;
	position: absolute;
	margin: 10px;
}

#profPic2 {
	width: 270px;
	height: 270px;
	margin: 0px auto;
	background-color: green;
	border-radius: 500px;
	border: 10px outset #5A83A0;
}

#profPic {
	width: 250px;
	height: 250px;
	position: absolute;
	margin: 0px auto;
	background-color: blue;
	border-radius: 500px;
	z-index: 1;
    box-shadow: 0 0px 25px 0px #232323;
    -moz-box-shadow: 0 0px 25px 0px #232323;
    -webkit-box-shadow: 0 0px 25px 0px #232323;
}

#profPicText {
	padding-top: 113px;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#myProfile {
	padding-top: 175px;
	text-align: center;
    background-image: url("../img/darktile.jpg");
    background-repeat: repeat-xy;
    color: white;
    border-bottom: 5px solid grey;
}

#objective {
	margin: 0 auto;
	padding-top: 65px;
	min-width: 300px;
	width: 80%;
}

#name {
	font-family: OpenSansBold;
	font-size: 32px;
	text-decoration: none;
}

#age {
	font-size: 18px;
	margin: 0px 0px;
	padding: 0px 0px;
}

#websites {
	padding-top: 10px;
	width: 80px;
	margin: 0 auto;
}

.siteContainer, .siteContainer a img {
	padding: 0 5px;
	width: 30px;
	height: auto;
	float: left;
}

/*Skill Area -------------------------------------------------------------------------------------------------------*/
#mySkills {
    background-image: url("../img/greytile.jpg");
    background-repeat: repeat-xy;
    border-bottom: 5px solid lightgrey;
}

#rateLegend {
	width: 300px;
	margin: 0 auto;
	border: 1px solid lightgrey;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.rateKey {
	width: 90px;
	float: left;
	padding: 5px;
	text-align: center;
}

#sorter {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid lightgrey;
	margin: 0 auto;
	border-top: none;
	width: 300px;
}

#statements, #libraries, #databases, #frameworks, #tools {
	min-width: 300px;
	width: 78%;
	margin: 25px auto;
	padding: 0 15px;
}

#statements div, #libraries div, #databases div, #frameworks div, #tools div {
	width: 150px;
	float: left;
}

#languages {
	width: 80%;
	margin: 0px auto;
	padding-left: 5px;
	margin-top: 25px;
}

.lang {
	width: 235px;
	padding: 10px 25px;
	margin: 3px 3px;
	float: left;
}

.lang div {
	float: left;
	text-align: center;
}

.langName {
	width: 100px;
}

.langRate {
	width: 75px;
}

/*Work Area -------------------------------------------------------------------------------------------------------*/
#myWork {
    background-image: url("../img/whitetile.jpg");
    background-repeat: repeat-xy;
    border-bottom: 5px solid lightblue;
}

#jobContainer {
	width: 80%;
	margin: 0 auto;
}

.job {
	float: left;
	width: 250px;
	margin-right: 25px;
	min-height: 425px;
	border: 3px outset lightgrey;
	border-radius: 5px;
}

.job div {
	margin: 0 auto;
}

.jobLogoContainer {
	width: 200px;
	height: 175px;
}

.jobLogo {
	width: 100%;
	height: auto;
}

.jobDescription {
	text-align: center;
	width: 175px;
}

.jobDuties {
	margin-top: -25px;
	text-align: center;
	min-width: 250px;
	max-width: 500px;
	width: 80%;
}

.jobTitle {
	text-align: center;
	font-weight: bold;
}

/*Project Area -------------------------------------------------------------------------------------------------------*/
#myProjects {
    background-image: url("../img/lightbluetile.jpg");
    background-repeat: repeat-xy;
    border-bottom: 5px solid lightgrey;
}

#shellContainer {
	position: absolute;
	z-index: 0;
	left: -1px;
	right: 0;
	margin: 0 auto;
	margin-top: 50px;
}

#phoneShell {
	position: relative;
	width: 260px;
	height: auto;
	margin: 0 auto;
	margin-top: -50px;
}

#phoneShadow {
	position: absolute;
	box-shadow: 10px 15px 15px 5px #232323;
	-moz-box-shadow: 10px 15px 15px 5px #232323;
    -webkit-box-shadow: 10px 15px 15px 5px #232323;
	border-radius: 35px;
	width: 255px;
	height: 450px;
	right: 0;
	left: 0;
	margin: 0 auto;
	margin-top: -50px;
	opacity: .8;
}

#curProj {
	color: black;
	font-weight: bold;
	border: 10px outset #5A83A0;
}

.projectDisplay {
	text-align: center;
	margin-top: 25px;
}

#projPurpose {
	font-size: 20px;
}

#projCarousel {
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 25px;
}

#projCarousel.mobile, #projCarousel.mobile .item, #projCarousel.mobile .item .projImg{
	width: 225px;
}

#projCarousel.web{
	min-width: 300px;
	max-width: 650px;
	width: 80%;
} 

#projCarousel.web .item, #projCarousel.web .item .projImg {
	width: 100%;
	height: auto;
}

#projCarousel .item .projImg{
	height: auto;
	margin: 0 auto;
}

#projCarousel .carousel-control {
	font-size: 36px;
	color: white;
}

#projCarousel.mobile .carousel-indicators {
	top: 353px;
}

#projCarousel .carousel-indicators li {
  	border: 1px solid #000;
}

#projCarousel .carousel-indicators .active {
  background-color: #000;
}

#projCredit {
	text-align: center;
	font-weight: bold;
}

#projDesc {
	margin: 25px auto;
	border: 3px outset lightgrey;
	border-radius: 5px;
}

#projDesc.overview {
	width: 80%;
}

#projDesc.stack {
	min-width: 200px;
	max-width: 450px;
	width: 80%;
}

#projDesc .btn-group button {
	width: 100px;
}

#projDesc .btn-group button.active {
	font-weight: bold;
}

#projDocContainer {
	padding-top: 25px;
	text-align: center;
}

#projDocContainer div form button {
	margin: 0 auto;
}

#dlTitle {
	font-size: 14px;
	font-weight: bold;
}

#stackContainer {
	min-width: 200px;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

#stackContainer .stackPart {
	float: left;
	width: 200px;
}

#stackContainer .stackPart span{
	font-size: 20px;
	font-weight: bold;
}

.dropdownArea {
	text-align: center;
	width: 300px;
	margin: 0 auto;
}

.dropdown-menu {
	width: 100%;
  	background-color: #222;
}

.dropdown-menu li a {
	font-weight: bold;
  	color: #5A83A0;
	padding: 5px 0px;
}

.dropdown-menu li a:hover {
  	color: white;
	background-color: black;
}

.dropItem {
	text-align: center;
}

/*Education Area -------------------------------------------------------------------------------------------------------*/
#myEducation {
    background-image: url("../img/greytile.jpg");
    background-repeat: repeat-xy;
    border-bottom: 5px solid grey;
}

#schoolContainer {
	margin: 0 auto;
	margin-bottom: 100px;
}

#schools {
	margin: 0 auto;
	width: 50%;
	min-width: 300px;
	max-width: 600px;
	text-align: center;
}

.school .accordion-heading {
	border: 1px solid grey;
	min-height: 50px; 
	max-height: 80px;
	padding: 20px;
	background-color: #222;
	border-radius: 5px;
	margin-top: 10px;
}
.school .accordion-heading a {
	text-decoration: none;
	font-weight: bold;
  	color: #5A83A0;
  	font-size: 14px;
}

.school .accordion-body {
	border: 1px solid black;
	border-top: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 90%;
	margin: 0 auto;
	background-color: #5A83A0;
}

.school .accordion-body .accordion-inner span {
	font-weight: bold;
}

.school .accordion-body .accordion-inner {
	padding: 2px;
}

.graduationDate {
	color: maroon;
}

/*Award Area -------------------------------------------------------------------------------------------------------*/
#myAwards {
    background-image: url("../img/darktile.jpg");
    background-repeat: repeat-xy;
    color: white;
}

#awardList {
	text-align: center;
	margin-bottom: 100px;
}

#awardList div {
	padding: 5px;
}
