<!DOCTYPE html>
<html ng-app="mainModule">
	<head>
		<meta name="description" content="{{main.getMetaDescription()}}">
		<meta name="author" content="{{main.getMetaAuthor()}}">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script type="text/javascript" src="lib/js/jquery.min.js"></script>
		<script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/js/angular.min.js"></script>
		<script type="text/javascript" src="lib/js/interact-1.2.4.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/profile.js"></script>
		<script type="text/javascript" src="js/skill.js"></script>
		<script type="text/javascript" src="js/work.js"></script>
		<script type="text/javascript" src="js/project.js"></script>
		<script type="text/javascript" src="js/education.js"></script>
		<title>Alex Bu - Software Engineer</title>
	</head>
	<body data-spy="scroll" data-target=".navbar" ng-controller="MainController as main">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menubar">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#headPad" ng-click="main.gotoElement('headPad');">
  				<span class="glyphicon glyphicon-font" aria-hidden="true"></span>
  				<span class="glyphicon glyphicon-text-width" aria-hidden="true"></span>
  				<span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
		      </a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="menubar">
		      <ul class="nav navbar-nav navbar-right" ng-click="main.closeDropDown();">
		        <li>
		        	<a href="#myProfile" ng-click="main.gotoElement('myProfile');">
		  				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
		        		Profile
		        	</a>
		        </li>
		        <li>
		        	<a href="#mySkills" ng-click="main.gotoElement('mySkills');">
		  				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
		        		Skills
		        	</a>
		        </li>
		        <li>
		        	<a href="#myWork" ng-click="main.gotoElement('myWork');">
		  				<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
		        		Work
		        	</a>
		        </li>
		        <li>
		        	<a href="#myProjects" ng-click="main.gotoElement('myProjects');">
		  				<span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
		        		Projects
		        	</a>
		        </li>
		        <li>
		        	<a href="#myEducation" ng-click="main.gotoElement('myEducation');">
		  				<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
		        		Education
		        	</a>
		        </li>
		        <li>
		        	<a href="#myAwards" ng-click="main.gotoElement('myAwards');">
		  				<span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
		        		Awards
		        	</a>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div id="mainContent">
			<div id="alert" class="alert alert-danger">
			  <button type="button" class="close" ng-click="main.closeAlert();">&times;</button>
			  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
			  Website is under constant construction.
			</div>
			<profile></profile>
			<skill></skill>
			<work></work>
			<project></project>
			
			<div id="myAwards" class="section" ng-controller="AwardController as award">
				<div class="sectionTitle">Awards</div>
				<div id="awardList">
				  	<div ng-repeat="cert in award.awards">
				        <a class="awardPops" data-trigger="hover click" data-placement="right" data-toggle="tooltip" title="-{{cert.school}}">
				        	{{cert.title}} - {{cert.period}}
				        </a>
				  	</div>
				</div>
				<div id="copyright">
					<p>Copyright</p>
			  		<span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
			  		<p>2015 Alex Bu</p>
				</div>
			</div>
		</div>
	</body>
</html>