<div id="myProjects" ng-app="projectDirective" class="section clearfix">
	<div class="sectionTitle">Projects</div>
	<div class="dropdownArea dropdown">
		<a id="curProj" ng-click="project.toggleDropMenu();" class="dropdownArea dropdown-toggle btn btn-scheme" data-toggle="dropdown">{{project.currentProject.title}}</a>
		<ul id="projMenu" class="dropdown-menu">
		  <li class="dropItem" ng-click="project.setCurrentProject(proj); project.toggleDropMenu();" ng-repeat="proj in project.projects"><a>{{proj.title}}</a></li>
		</ul>
	</div>
  	<div id="{{main.hashString(proj.title)}}" class="projectDisplay" ng-repeat="proj in project.projects" ng-if="project.currentProject==proj">
	  	<p id="projPurpose">
	  		{{proj.purpose}}
	  	</p>
	  	<div id="shellContainer" ng-if="project.isMobile(proj)">
	  		<div id="phoneShadow"></div>
	  		<img id="phoneShell" ng-src="{{project.phoneShell}}"/>
	  	</div>
	  	<div id="projCarousel" data-interval="4000" ng-class="{'mobile': project.isMobile(proj), 'web': project.isWeb(proj)}" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#projCarousel" ng-repeat="image in proj.images" data-slide-to="{{$index}}" ng-class="{'active':$index==0}"></li>
			</ol>
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="item" ng-repeat="image in proj.images" ng-class="{'active':$index==0}">
					<img class="jobLogo" ng-src="{{image}}"/>
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#projCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true">
			</a>
			<a class="carousel-control right" href="#projCarousel" data-slide="next">
				<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true">
			</a>
		</div>
		<div id="projCredit" ng-if="proj.credit">
			<a href="{{proj.credit.link}}">{{proj.credit.text}}</a>
		</div>
		<div id="projDesc" class="well well-small" ng-class="{'overview': project.isDescTab('overview'), 'stack': project.isDescTab('stack')}">
			<div class="btn-group">
				<button class="btn" ng-class="{'active': project.isDescTab('overview')}" ng-click="project.setDescTab('overview');">Overview</button>
				<button class="btn" ng-class="{'active': project.isDescTab('stack')}" ng-click="project.setDescTab('stack');">Stack</button>
			</div><br><br>
			<p ng-if="project.isDescTab('overview');">{{proj.description}}</p>
			<div id="stackContainer" class="clearfix" ng-if="project.isDescTab('stack');">
				<div class="stackPart">
					<span>Frontend</span>
					<p ng-repeat="part in proj.stack.frontend">{{part}}</p>
				</div>
				<div class="stackPart">
					<span>Backend</span>
					<p ng-repeat="part in proj.stack.backend">{{part}}</p>
				</div>
			</div>
		</div>
  	</div>
</div>