<div id="mySkills" ng-app="skillDirective" class="section clearfix">
	<div class="sectionTitle">Skills</div>
	<div id="rateLegend" class="clearfix">
		<div class="rateKey"><span class="badge low">&nbsp;</span> Okay</div>
		<div class="rateKey"><span class="badge med">&nbsp;</span> Average</div>
		<div class="rateKey"><span class="badge high">&nbsp;</span> Great</div>
	</div>
	<div id="sorter" class="clearfix">
		<div class="dropdownArea btn-group">
			<a class="btn btn-mini dropdown-toggle dropdownArea" ng-click="main.toggleDropMenu('sortMenu');" data-toggle="dropdown">
				Order by: {{skill.getSortBy().text}}
				<span class="caret"></span>
			</a>
			<ul id="sortMenu" class="dropdown-menu">
				<li class="dropItem" ng-click="skill.setSortBy({text:'Alphabetical',val:'type'}); main.toggleDropMenu('sortMenu');">
					<a>Alphabetical</a>
				</li>
				<li class="dropItem" ng-click="skill.setSortBy({text:'Rating',val:'-rate'}); main.toggleDropMenu('sortMenu');">
					<a>Rating</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="subTitle">General</div>
	<div class="skillList clearfix">
		<div ng-repeat="gen in skill.getGeneral() | orderBy:skill.getSortBy().val">
			<span class="badge {{skill.getSkillRate(gen.rate)}}">{{gen.type}}</span>
		</div>
	</div>
	<div class="subTitle">Libraries</div>
	<div class="skillList clearfix">
		<div ng-repeat="library in skill.getLibraries() | orderBy:skill.getSortBy().val">
			<span class="badge {{skill.getSkillRate(library.rate)}}">{{library.type}}</span>
		</div>
	</div>
	<div class="subTitle">Databases</div>
	<div  class="skillList clearfix">
		<div ng-repeat="database in skill.getDatabases() | orderBy:skill.getSortBy().val">
			<span class="badge {{skill.getSkillRate(database.rate)}}">{{database.type}}</span>
		</div>
	</div>
	<div class="subTitle">Frameworks</div>
	<div class="skillList clearfix">
		<div ng-repeat="framework in skill.getFrameworks() | orderBy:skill.getSortBy().val">
			<span class="badge {{skill.getSkillRate(framework.rate)}}">{{framework.type}}</span>
		</div>
	</div>
	<div class="subTitle">Tools</div>
	<div class="skillList clearfix">
		<div ng-repeat="tool in skill.getTools() | orderBy:skill.getSortBy().val">
			<span class="badge {{skill.getSkillRate(tool.rate)}}">{{tool.type}}</span>
		</div>
	</div>
	<div class="subTitle">Languages</div>
	<div class="skillList clearfix">
		<div ng-repeat="lang in skill.getLanguages() | orderBy:skill.getSortBy().val">
			<span class="badge {{skill.getSkillRate(lang.rate)}}">{{lang.type}}</span>
		</div>
	</div>
</div>