<div id="mySkills" ng-app="skillDirective" class="section clearfix">
	<div class="sectionTitle">Skills</div>
	<div id="statements">
		<ul>
			<li ng-repeat="statement in skill.getStatements();">
				{{statement}}
			</li>
		</ul>
	</div>
	<div class="subTitle">Familiar Libraries</div>
	<ul id="libraries">
		<li ng-repeat="library in skill.getLibraries();">
			{{library}}
		</li>
	</ul>
	<div class="subTitle">Framework Experience</div>
	<ul id="frameworks">
		<li ng-repeat="framework in skill.getFrameworks();">
			{{framework}}
		</li>
	</ul>
	<div class="subTitle">Languages</div>
	<div id="languages">
		<span class="label label-primary lang" ng-class="{'label-danger': main.isNumeric(lang.rating)&&lang.rating<=5, 'label-warning': main.isNumeric(lang.rating)&&lang.rating<=7, 'label-success': main.isNumeric(lang.rating)&&lang.rating<=10}" ng-repeat="lang in skill.getLanguages() | orderBy:'name'">
			<div class="langName">{{lang.name}}</div>
			<div class="langRate">{{lang.rating}}<span ng-if="main.isNumeric(lang.rating);">/10</span></div>
		</span>
	</div>
</div>