<div id="mySkills" ng-app="skillDirective" class="section clearfix">
	<div class="sectionTitle">Skills</div>
	<div id="statements" class="clearfix">
		<div ng-repeat="gen in skill.getGeneral();">
			<span class="badge {{skill.getSkillRate(gen.rate)}}">&nbsp;</span>
			{{gen.type}}
		</div>
	</div>
	<div class="subTitle">Familiar Libraries</div>
	<div id="libraries" class="clearfix">
		<div ng-repeat="library in skill.getLibraries();">
			<span class="badge {{skill.getSkillRate(library.rate)}}">&nbsp;</span>
			{{library.type}}
		</div>
	</div>
	<div class="subTitle">Framework Experience</div>
	<div id="frameworks" class="clearfix">
		<div ng-repeat="framework in skill.getFrameworks();">
			<span class="badge {{skill.getSkillRate(framework.rate)}}">&nbsp;</span>
			{{framework.type}}
		</div>
	</div>
	<div class="subTitle">Languages</div>
	<div id="languages">
		<span class="label lang" ng-class="skill.getLanguageRate(lang.rate)" ng-repeat="lang in skill.getLanguages(); | orderBy:'name'">
			<div class="langName">{{lang.name}}</div>
			<div class="langRate">{{lang.rate}}<span ng-if="skill.isNumeric(lang.rate);">/10</span></div>
		</span>
	</div>
</div>