<div id="myWork" ng-app="workDirective" class="section clearfix">
	<div class="sectionTitle">Work History</div>
	<div id="jobContainer">
		<div class="row">
		  <div class="col-sm-6 col-md-4" ng-repeat="job in work.getJobs();">
		    <div class="thumbnail">
			  <img class="spinner" ng-src="{{main.spinner}}"/>
		      <img ng-src="{{job.logo}}" load-spinner>
		      <div class="caption">
		        <h3>{{job.title}}</h3>
		        <p>
		      	  {{job.employer}}<br>
				  {{job.city}}, {{job.state}}<br>
				  {{job.startDate}} - {{job.endDate}}<br><br>
				  <b>Responsibilities:</b><br>
				  <span ng-repeat="duty in job.duties">
					{{duty}}<br>
				  </span>
		        </p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>